$primary:       #90bd3f !default;
$secondary:     #ef9e45 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,

) !default;

@font-face {
  font-family: GoogleSans;
  src: url('../fonts/GoogleSans-Regular.ttf');
}

@font-face {
  font-family: GoogleSans;
  src: url('../fonts/GoogleSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: GoogleSans;
  src: url('../fonts/GoogleSans-Bold.ttf');
  font-weight: bold;
}

body {
  font-family: 'GoogleSans';
  .bg-secondary {
    background-color: $secondary!important;
  }

  .btn {
    border-radius: 50px;
  }

  .btn-primary {
    background-color: $primary;
    border-color: $primary;
  }

  .text-18 {
    font-size: 18px;
  }
  .btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle, .btn-check:focus+.btn-primary, .btn-primary:focus, .btn-primary:hover {
      color: #fff;
      background-color: #6aa009;
      border-color: #6aa009;
  }
  .navbar {
    height: 85px;
    &.navbar-dark {
      .navbar-nav {
        .nav-link {
          color: #fff;
          margin-right: 20px;
          font-size: 16px;
        }
      }
    }
    .navbar-brand img {
      height: 45px;
      margin-right: 30px;
    }
  }
  &.index .wrapper.first {
    background-color: rgba(239, 158, 69, 0.06);
    background-image: url('../img/Vector1a.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    .plant1 {
      background-image: url('../img/Frame.png');
      height: 150px;
      width: 99px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      left: 0px;
      bottom: 130px;
      position: absolute;
      z-index: 0;
    }
    .plant2 {
      background-image: url('../img/brownleaf.png');
      height: 200px;
      width: 150px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      left: 400px;
      bottom: 0px;
      position: absolute;
      z-index: 0;
    }
  }
  &.index.no-tailored .wrapper.first {
    background-image: url('../img/couplesofa.png');
  }
  &.index .wrapper.ingredients {
    position: relative;
    .plant1 {
      background-image: url('../img/brownleaf1.png');
      height: 150px;
      width: 85px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      left: -3px;
      bottom: 110px;
      position: absolute;
      z-index: 0;
    }
    .plant2 {
      background-image: url('../img/Group6.png');
      height: 180px;
      width: 84px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      right: 0px;
      top: 0px;
      position: absolute;
      z-index: 0;
    }
  }

  .description {
    img {
      width: 115px;
      margin-bottom: 30px;
    }
  }
  .wrapper-pictures {
    min-height: 440px;
    width: 100%;
    display: flex;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    // .picture-left {
    //   background-image: url('../img/Vector3.png');
    //   background-position: left;
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   height: 100%;
    //   width: 50vw;
    //   position: absolute;
    //   left: 0;
    // }
    // .picture-right {
    //   background-image: url('../img/Vector2.png');
    //   background-position: right;
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   height: 100%;
    //   width: 50vw;
    //   position: absolute;
    //   right: 0;
    // }
  }

  #bottle-bg {
    background-image: url('../img/Group9.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .images-band .picture{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &.full{
      min-height: 300px;
    }
    &.half{
      min-height: 150px;
    }
  }

  img.product {
    height: 200px;
  }

  .flex {
    display: flex !important;
  }

  .justify-space-between {
    display: flex;
    justify-content: space-between;
  }

  .text-justify {
    text-align: justify;
  }

  .wrapper.form {
    background-color: rgba(239, 158, 69, 0.06);
  }

  input.form-custom, input.form-custom:focus {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #DB8C40;
    border-radius: 0;
    padding-left: 0;

    &::placeholder {
      color: #000;
    }
  }

  footer {
    height: 82px;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: left;
    .navbar-brand img{
      height: 42px;
    }
  }

  .carousel-item {
    min-height: 380px;
  }

  .carousel-indicators li {
    background-color: #d8d8d8;
    width: 14px;
    height: 14px;
    opacity: 1;
    border-radius: 50%;
  }

  .carousel-indicators .active {
    background-color: $secondary;
  }

  #carousel2 .carousel-item {
    min-height: 150px;
  }
  a {
    color: #000;
    text-decoration: none;
  }
}


@media (max-width: 345px) {
  body {
    img.product {
      height: 170px;
    }
  }
}

@media (max-width: 576px) {
  body.index {
    text-align: center;
    .wrapper.first {
      background-color: rgba(239, 158, 69, 0.06);
      background-image: url(../img/Vector1a.png);
      background-size: 125%;
      background-position: -49px top;
      background-repeat: no-repeat;
      position: relative;

      h1 {
        text-align: center;
        color: #fff;
      }
    }
    .wrapper-pictures {
      height: 350px;
      width: 100%;
      display: flex;
      position: relative;
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .wrapper.form p{
      text-align: center;
    }
  }
}
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1060px;
  }
}
